
/******************** mission & question *****************/

.mission {
	width: 100%;
	height: 250px;
}

.mission > figure {
	width: 24.5%;
	height: 250px;
	display: inline-block;
}

.mission > figure > img {
	margin-top: 50px;
	margin-left: 140px;
}

.mission > figure > figcaption {
	border-right: 2px solid #B6B6B6;
	text-align: center;
	margin-top: 30px;
	color: #9B9B9C;
}

#no-border {
	border-right: none;
}

.question {
	height: 360px;
	width: 100%;
	background-color: #EDEDED;
	position: relative;
}

.question > img {
	position: absolute;
	left: 50%;
	top: 30%;
	margin-left: -40px;
}

.question > span {
	font-size: 50px;
	color: #A0A0A0;
	position: absolute;
	bottom: 50px;
	left: 20%;
}

